<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Walls</title>
  </head>
  <body>
<h1>Coding Dojo Wall</h1>
<a href="/">Logout</a>
{{user.first_name}}
<form class="" action="/post" method="post">
  <textarea name="message" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Post Wall Message">

</form>

{% for message in messages%}
<p>{{message.message}}- posted by: {{message.first_name}} {{message.last_name}}</p>
  <br>

  {% for comment in comment %}
    {% if message['id'] == comment['message_id']%}
      <p>{{comment['comment']}} - {{comment['first_name']}}</p>
    {% endif %}
  {% endfor %}



<form class="" action="/messages/{{message.id}}/comments" method="post">
  <textarea name="comment" value= "{{message.id}}" rows="6" cols="80"></textarea>
  <br>
  <input type="submit" name="" value="Post Comment">

</form>
{% endfor %}


  </body>
</html>
