<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Survey</title>
</head>

<body>
  <h1>Coding Dojo Survey Form</h1>
  <p>Find me in app/views/surveys/index.html.erb</p>

    <form action="/create" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <p>Name</p>
        <input type="text" name="survey[name]">

        <p>Location</p>
          <select name ="survey[location]">
              <option value="DC">DC</option>
              <option value="LA">LA</option>
              <option value="SEA">SEA</option>
              <option value="SF">SF</option>
            </select>

            <p>Fav Lang</p>
              <select name ="survey[language]">
                  <option value="C+">C+</option>
                  <option value="Python">Python</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Ruby">Ruby</option>
                </select>
        <p>comments</p>
        <input type="text" name="survey[comment]">
        <br>
        <input type="submit" name="submit">

    </form>

</body>

</html>
