<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
</head>

<body>
    <div class="random">
        <p> Welcome to the Great Number game</p>
        <p> Im thinking of a Number between 1 and 100</p>
        <form action="/newpage" method="POST">
            <input type="hidden" name="random_num">
            <input type="text" name="guess">
            <p>{{phrase}}</p>
            <input type="submit" values="submit">
        </form>
        <p>
                   {{ low }}
                   {{ high }}
                   {{ win }}
        </p>



    </div>


</body>

</html>
