<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>


<h3>GitHub Calculator</h3>
<p>Enter Your Username below:</p>


<form (submit) ="onSubmit(username)">

GitHub Username:<input type="text" name="username" required [(ngModel)]="username.username" #username= 'ngModel'><br> <br>
<input type="submit" name="" value="Calculate my GitHub Score">

</form>
<h1 *ngIf="score"> Your Score is: {{score}}</h1>

  <div *ngIf="score">


        <h2 style= "color:red" *ngIf="score < 20 ">You need some work!</h2>
        <h2 *ngIf="score > 20 && score < 50 ">Good Start!</h2>

        <h2 *ngIf="score > 100 && score < 200 ">Superlative</h2>

  </div>
