<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Dojo Survey</h1>
    <form  action="/process" method="post">
        Your Name:<input type="text" name="name" value="">
        <br>
        Dojo Location:<input type="text" name="location" value="">
        <br>
        Favorite Languge<input type="text" name="lang" value="">
        <br>
        <textarea name="comments" rows="8" cols="80"></textarea>
        <br>
        <input type="submit" name="" value="GO!">
    </form>
  </body>
</html>
