<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ninja Registry</h1>
    <div id="formbox">
        <form>
            First name: <br><input type="text" id="fname" value="First Name"><br>
            Last name:<br><input type="text" id="lname" value="Last Name"><br>
            Description: <br><input type="text box" id="desc" value="description"><br>
            <input id="submit" type="submit" Value="Add User"
        </form>

    </div>

  </body>
</html>
