<html>
    <head>
      <title>Sup my Ninjas</title>
    </head>
    <body>
      <h1>Sup My Ninjaz</h1>
      <h2>Ninja Facts</h2>
        <p>Ninjas can kill anyone they want!  Ninjas cut off heads ALL the time and don't even think twice about it.  These guys are so crazy and awesome that they flip out ALL the time.  I heard that there was this ninja who was eating at a diner.  And when some dude dropped a spoon the ninja killed the whole town.  My friend Mark said that he saw a ninja totally uppercut some kid just because the kid opened a window.</p>
        <img src="{{ url_for('static', filename='images/myninjaz.jpg') }}">

    </body>
</html>
