<p>
  the bounds of moderate political dissent and encourages violence.
Donald Trump Jr. is among those arguing that “liberal hate speech” is leading to violence. He tweeted support for a comment by conservative political consultant Harlan Hill, who said “Events like today are EXACTLY why we took issue with NY elites glorifying the assassination of our president.”
Hill was referring to a New York City production of “Julius Caesar” that portrays the assassinated title character looking like Trump in a business suit. That came on the heels of comedian Kathy Griffin posing with a bloodied rendering of Trump’s head.
Many Republican lawmakers have experienced rowdy, overflowing town halls that they say border on dangerous. Rep. Dave Brat, a Virginia Republican, said town halls now often include “a thousand people screaming, and it only takes one person off the reservation” to cause a problem.
Can we please get a grip? Democrats have experienced the same level of hatred as Republicans. And there are too many invitations to violence on all sides.
</p>
