<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add an Animal</title>
  </head>
  <body>

<form class="" action="/animals" method="post">
  Name:<input type="text" name="name" value=""><br>
  Height:<input type="text" name="height" value=""><br>
  Attack:<input type="text" name="attack" value=""><br>
  Special Ability: <input type="text" name="special_ability" value=""> <br>
<input type="submit" name="" value="Add an Animal"> <br>

</form>
  </body>

</html>
