<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // this triggers the connection event in our server!
      var socket = io.connect();
      // we'll write all the socket stuff after the above line!

      $('#dojo_form').submit(function(e){
          e.preventDefault();
              socket.emit("posting_form", {
              name: $('#name').val(),
              location: $('#location').val(),
              language: $('#language'),
              comment: $('#comment').val()
            });
            });
        socket.on('updated_message', fuction (data){
          console.log(data.response);
          $('#message').html("you submitted the following info to the server:" + JSON.stringify(data.response));
        });
        socket.on('random_number', function(data){
          $('#number').html("your registration number is:" + JSON.stringify(data.response));
        });
      });





  </script>

</head>

<body>
  <div id="message"></div>
    <div id="number"></div>
  <div style="border: 2px solid black; padding: 20px; display: inline-block;">
    <form id="dojo_form">
      <p>Your Name: <input id='name' type="text" name="name"></p>
      <p>Dojo Location:
        <select id='location'name="location">
    			<option>DC</option>
    			<option>Seattle</option>
    			<option>NYC</option>
    		</select></p>
      <p>Favorite Language:
        <select id='language' name="language">
    			<option>JS</option>
    			<option>HTML</option>
    			<option>CSS</option>
    		</select></p>
      <p>Comment (optional): <textarea id="comment" name="comment"></textarea></p>

      <input type="submit" name="submit" value="submit">


    </form>
  </div>
</body>

</html>
