*{
margin: 0px;
padding: 0px;
outline: dotted 1px red;

}

#wrapper{
  margin: 0 auto;
  width: 1000px;

}



.pokemon{
  width: 800px;
display: inline-block;
vertical-align: top;
align-items: left;
}
.pokedex{
width: 150px;
display: inline-block;

}

img{

  width: 200px;
}


.details{

  width: 500px;
}
