<h1>Add a new DojoLocation!</h1>
<form class="" action="/dojos/create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Street Address:<input type="text" name="street" value=""></p>
  <p> City: <input type="text" name="city" value=""></p>
  <p>State:<input type="text" name="state" value=""></p>
  <input type="submit" name="" value="Create!">


<p><a href="/">Return Home</a></p>



</form>
