<h2><%=@user.name%> Network Page!</h2>

<p>Here is your profile description!</p>

<textarea name="name" rows="8" cols="80"><%=@user.description%>
</textarea>
<br>
<a href="/user/all">Expand your network</a>

<div class="professional network">

</div>
