<div class="bottom">
  <fieldset class="box" display="inline-block"> <legend>SuperSayan</legend>
    <p *ngIf="PowerExp">Power:   {{PowerExp * 150}}</p>
    <h2 *ngIf="PowerExp*150 > 9000 && PowerExp *150 < 20000 ">Over 9000!</h2>

    <h2 *ngIf="PowerExp*150 >= 20000 && PowerExp *150 < 50000 ">Superlative</h2>


    <h2 *ngIf="PowerExp*150 >= 50000">THE ONE!</h2>
  </fieldset>
  <fieldset class="box" display="inline-block"> <legend>SuperSayan</legend>
    <p *ngIf="PowerExp">Power:   {{PowerExp * 250}}</p>
    <h2 *ngIf="PowerExp*250 > 9000 && PowerExp *250 < 20000 ">Over 9000!</h2>

    <h2 *ngIf="PowerExp*250 >= 20000 && PowerExp *250 < 50000 ">Superlative</h2>


    <h2 *ngIf="PowerExp*250 >= 50000">THE ONE!</h2>
  </fieldset>


  <fieldset class="box" display="inline-block"> <legend>SupSayan</legend>
      <p *ngIf="PowerExp">Power:   {{PowerExp *550}}</p>
  <h2 *ngIf="PowerExp*550 > 9000 && PowerExp *550 < 20000 ">Over 9000!</h2>

  <h2 *ngIf="PowerExp*550 >= 20000 && PowerExp *550 < 50000 ">Superlative</h2>


  <h2 *ngIf="PowerExp*550 >= 50000">JIMMY MIXXER LEVEL!</h2>

  </fieldset>


</div>
