<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!! </h1>
<a [routerLink]="['/']">Washington, D.C.</a> | <a [routerLink]="['/seattle']">Seattle, WA</a> | <a [routerLink]="['/sanjose']">San Jose, CA</a> | <a [routerLink]="['/burbank']">Burkbank,CA</a> | <a [routerLink]="['/dallas']">Dallas, TX</a> | <a [routerLink]="['/chicago']">Chicago</a>


<fieldset> <legend>City Info</legend>




</fieldset>




</div>
<router-outlet></router-outlet>
