<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo App</title>
  </head>
  <body>
    <h3>Welcome to Coding Dojo!</h3>
    <form class="" action="/submitQuotes" method="post">
      Name: <input type="text" name="name" value=""> <br>
      Quote: <input type="text" name="quote" value=""> <br>
      <input type="submit" name="" value="Add this Quote!">
    </form>

    <form class="" action="/quotes" >
      <input type="submit" name="" value="Go to Quotes">
    </form>


  </body>
</html>
