#wrapper {
  width: 1080px;
  height: 900px;
}

#header {
  background-color: gray;
  height: 80px;
  padding: px;
  margin-bottom: px;
}

#left{

  font-size: 30px;
  position: absolute;
  left: 40px;
  top: -20px;

}
#right{
  float: right;
  display: inline-flex;
  font-size: 12px;
  padding-bottom: 10px;
  vertical-align: top;


}

#Aboutsection {
background-color: red;
width: 1080px;
height: 900px;
margin: 10px;





}

#aboutsectionleft{
display: inline-block;
margin: 10;


}

#aboutsectionr {
  height: 200px;
  width: 300px;
  vertical-align: top;
  margin: 20px;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;






#photoofme{
  height: 250px;
  width: 350px;



}
